.chat-block {
  width: 100%;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }

  &__messageBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
  }

  &__messageContent {
    display: flex;
    gap: 20px;
    max-width: 980px;
    width: 100%;
  }

  &__chatWith {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
  }

  &__personInfo {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
