<form class='profile'>
  {{{Button text='Назад' style='home-link-fixed' onClick=onClick}}}
  {{{Image src=profilePhoto alt='avatar' style='profile'}}}
  {{{ProfileSettings inputs=inputs name=name}}}
  {{{Button type='submit' text='Сохранить' style='changePassword'}}}
</form>
