<div class="form-container">
  {{{Button text='Назад' style='home-link-fixed' onClick=onClick}}}
  {{{Form inputs=inputs title=title title="Войти" onSubmit=onSubmit buttonEvent=buttonEvent btnText=btnText linkText=linkText}}}
</div>
