<div class='form-container'>
  <form action='' class='form'>
    <h1 class='form__title'>{{title}}</h1>
    {{#each inputs}}
      {{{Input type=this.type name=this.name label=this.labes placeholder=this.placeholder}}}
    {{/each}}
    {{{Button type='submit' text='Авторизоваться' style='login'}}}
    {{{Button style='link' type='button' text='Нет аккаунта?' onClick=buttonEvent}}}
  </form>
</div>
