.form {
  max-width: 340px;
  margin: 0;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 40%);
  padding: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__link {
    color: #3369f3;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
    margin-top: -20px;
  }
}
