<link rel="stylesheet" href="/src/partials/Profile/profileContainer.scss">
<form class="profile">
  {{> Image/image src=profilePhoto altName="avatar" style="profile"}}
  {{> @partial-block}}
  {{> Button/button type="submit" text="Сохранить" style="changePassword"}}
</form>
