.imageContainer {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999;

  &_profile {
    margin-bottom: 50px;
    width: 130px;
    height: 130px;
  }

  &_chat {
    width: 32px;
    height: 32px;

    img {
      width: 15px;
    }
  }

  &_chats {
    width: 47px;
    height: 47px;

    img {
      width: 25px;
    }
  }
}
