<link rel="stylesheet" href="/src/partials/ErrorPage/errorPage.scss">
<div class="errorContainer">
  <h1 class="errorContainer__header">{{errorCode}}</h1>
  <p class="errorContainer__text">{{text}}</p>
  <a class="errorContainer__link" href="/src/pages/Chat/chat.html">Назад к чатам</a>
</div>