<div class='chat-container'>
  {{{ChatList chats=chats}}}
  {{{ChatWith
    chatPhoto=profilePhoto
    messages=messages
    addFileImage=addFileImage
    sendMessageImage=sendMessageImage
    menuDotsImage=menuDotsImage
    readMessageImage=readMessageImage
    name=name
  }}}
</div>
