<form class='profile'>
  {{{Image src=profilePhoto alt='avatar' style='profile'}}}
  {{{ProfileSettings inputs=inputs name=name}}}
  {{{Button type='submit' text='Сохранить' style='changePassword'}}}
</form>
