<link rel="stylesheet" href="/src/partials/ChatList/chatList.scss">
<div class="chatList">
  <a class="chatList__profileLink" href="/src/pages/Profile/profileSettings.html">
    Профиль
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
      <path d="M1 9L5 5L1 1" stroke="#999999"/>
    </svg>
  </a>
  {{> Input/input type="text" name="searchChat" placeholder="Поиск" style="searchChat"}}
  {{#each chats}}
    {{> ChatItem/chatItem chatItemPhoto=this.profilePhoto chatName=this.chatName lastMessage=this.lastMessage lastMessageAuthor=this.lastMessageAuthor lastMessageTime=this.lastMessageTime unreadCount=this.unreadCount}}
  {{/each}}
</div>