<link rel="stylesheet" href="/src/partials/ChatWith/chatWith.scss">
<div class="chatBlock">
  <div class="chatBlock__chatWith">
    <div class="chatBlock__personInfo">
      {{> Image/image src=chatPhoto alt="chatAvatar" style="chat"}}
      <h3>{{vadimChat.name}}</h3>
    </div>
    {{> Button/button image=menuDotsImage style="menuDots"}}
  </div>
  <div class="chatBlock__chat">
    {{#each vadimChat.messages}}
      {{#if this.author}}
        {{> Message/message text=this.text time=this.time image=this.image statusImage=this.statusImage style="your"}}
      {{else}}
        {{> Message/message text=this.text time=this.time image=this.image style="others"}}
      {{/if}}
    {{/each}}
  </div>
  <div class="chatBlock__messageBlock">
    <div class="chatBlock__messageContent">
      {{> Button/button image=addFileImage style="messageButtons"}}
      {{> Input/input type="text" name="message" placeholder="Сообщение" style="message"}}
    </div>
    {{> Button/button image=sendMessageImage style="messageButtons"}}
  </div>
</div>