@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap';

@import 'blocks/Button/button.scss';
@import 'blocks/Image/image.scss';
@import 'blocks/Input/input.scss';

@import 'components/ErrorPage/errorPage.scss';
@import 'components/ChatItem/chatItem.scss';
@import 'components/ChatList/chatList.scss';
@import 'components/Message/message.scss';
@import 'components/ChatWith/chatWith.scss';
@import 'components/Form/form.scss';

@import 'pages/Chat/chat.scss';
@import 'pages/Profile/profile.scss';
@import 'pages/Register/register.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

ul {
  list-style: none;
}

li {
  text-align: left;
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__item {
    color: #3369f3;
  }
}
