<link rel="stylesheet" href="/src/partials/Input/input.scss" />
<div class="input">
  <label class="input__label">{{label}}</label>
  <input type="{{type}}" class="input__text" placeholder="{{placeholder}}" />
</div>