.button {
  border-radius: 8px;
  background-color: #3369f3;
  padding: 12px 70px;
  border: none;
  color: white;
  cursor: pointer;

  &_login {
    margin-top: 80px;
  }

  &_register {
    margin-top: 20px;
  }

  &_changePassword {
    margin-top: 100px;
  }

  &_messageButtons {
    background-color: transparent;
    padding: 0;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &_menuDots {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0;
  }
}